
.loginpane{
	-fx-background-color: #0077b6;
	-fx-border-width: 0px 0px 0px 0px;
	/*-fx-border-radius: 20px;
	-fx-background-radius: 20px;*/
	-fx-border-style: solid;
	-fx-border-color:#748CF1;
}
.btn{
	-fx-background-color:#fff;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 8px;
	-fx-border-color: #ddd;
	-fx-border-style: solid;
	-fx-background-radius: 8px;
	-fx-text-fill:#000;
	-fx-cursor:hand;
}
.btn:hover{
	-fx-background-color:#0077b6;
	-fx-text-fill:#fff;
}
.headerpane{
	-fx-background-color: #ddd;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-style: solid;
	-fx-border-color:#ddd;
}
.tablebar{
	-fx-background-color:linear-gradient(to bottom right, #0077b6, #0f2754);
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-style: solid;
	-fx-border-color:#ddd;
}
.sidebarpane{
	    -fx-background-color: #fff;
		-fx-border-width: 2px 2px 2px 2px;
		-fx-border-radius: 20px;
	    -fx-background-radius: 20px;
		-fx-border-style: solid;
		-fx-border-color:#ddd;
}
.shadow{
	-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}
.table-view{
	    -fx-background-color: transparent;
		-fx-border-width: 2px ;
		-fx-border-radius: 8px;
	    -fx-padding: 0px;
		-fx-border-style: solid;
		-fx-border-color:linear-gradient(to bottom right, #0077b6, #0f2754);
}
.table-view .table-column{
	-fx-alignment:CENTER;
}

.table-view .column-header-background{
	-fx-background-color:linear-gradient(to bottom right, #0077b6, #0f2754);
	-fx-background-radius:8px 8px 0px 0px;
}

.table-view .column-header{
	-fx-background-color:transparent;
	-fx-size:40px;
	
}
.table-view .column-header .label{
	-fx-text-fill:#fff;
	-fx-font-family:arial;
	
}

